<h1 class="mt-5 mb-5 text-center text-info">Skill List</h1>

<a class="btn btn-dark btn-lg ml-0 mb-5" href="/skill/new">Add New Skill</a>

{{#each skills}}
<div class="card border-info mb-3" style="width: 60rem;">

    <a class=" card-header bg-info btn btn-outline-info text-white btn-lg" href="/skill/{{_id}}">{{name}}</a>

    <div class="card-body text-info">

        <p>{{description}}</p>
    </div>
</div>
{{/each}}