<h1 class="mt-5 mb-5 text-center text-info">Skill List</h1>

<a class="nav-link btn btn-dark btn m-3" href="/skill/new">Add New Skill</a>

{{#each skills}}
<p>
    <a href="/skill/{{_id}}">{{name}}</a>
</p>
<p>{{description}}</p>
{{/each}}