<h1 class="mt-5 mb-5 text-center text-info">Skill List</h1>



{{#each skills}}
<div class="card border-info mb-3" style="width: 40rem;">

    <a class=" card-header bg-info btn btn-outline-info text-white btn-lg" href="/skill/{{_id}}">{{name}}</a>

    <div class="card-body text-info">

        <p>{{description}}</p>
    </div>
</div>
{{/each}}