<h2>Create new employee profile</h2>

<form action="/skill" method="post">
    <p>
        <label for="name">Name:</label>
        <input type="text" name="name">
    </p>

    <p>
        <label for="description">Description:</label>
        <textarea name="description" cols="40" rows="4"></textarea>
    </p>

    <input type="submit" value="Save">

</form>