<h1 class="mt-5 mb-5 text-center text-info">Skill Information</h1>

<div class="card border-info mb-3" style="width: 30rem;">
    <div class="card-header btn-outline-info btn-lg bg-info text-white">
        <h4>
            {{skills.name}}
        </h4>
    </div>
    <div class="card-body text-info">

        <p>{{skills.description}}</p>

        <form action="/skill/{{skills._id}}?_method=DELETE" method="post">
            <input class="btn btn-outline-dark m-3" type="submit" value="Delete">
            <a class="btn btn-outline-dark m-3" href="/skill/{{skills._id}}/edit">Edit</a>
        </form>
    </div>
</div>